---
import Layout from "@layouts/Layout.astro";
import { getThoughts } from "@utils/posts";
import i18next, { changeLanguage, t } from "i18next";
import { getLinkViaLocale, getLastPartOfSlug } from "@utils/slug";
import MarkdownIt from "markdown-it";
import { timeFormat } from "@utils/time";
import _ from "lodash";
import Thought from "@components/Thought.astro";
import WMStatus from "@components/webmentions/WMStatus.astro";

changeLanguage("en");

const locale = i18next.language;
const thoughts = await getThoughts(locale);
const groupedThoughts = _.groupBy(thoughts, (t) =>
  timeFormat(t.data.date, locale)
);
---

<Layout
  title="Thoughts"
  seo={{
    title: "EINDEX's Thoughts",
    description:
      "EINDEX's Thoughts The place where like twitter, but I own the data.",
    image: "https://eindex.me/images/avatar.png",
    url: "/thoughts",
  }}
>
  <h1>{t("thoughts")}</h1>
  <div class="thoughts">
    {
      Object.keys(groupedThoughts).map((date) => (
        <>
          <div class="thoughts-in-day">
            {groupedThoughts[date].map((t) => (
              <Thought
                thought={t}
                slug={getLinkViaLocale(
                  locale,
                  `/thoughts/${getLastPartOfSlug(t.slug)}`
                )}
              />
            ))}
          </div>
        </>
      ))
    }
  </div>
</Layout>

<style lang="scss">
  h1 {
    @apply text-4xl font-bold text-center;
  }
  .thoughts {
    @apply max-w-xl flex flex-col gap-4 divide-y self-center divide-gray-200;

    .thoughts-in-day {
      @apply flex flex-col gap-4 pt-4;

      article {
        @apply flex flex-col gap-2  ml-4;

        p {
          a {
            @apply underline;
          }
        }
        a {
          @apply self-end no-underline;
        }
      }
    }
    a {
      @apply underline;
    }
  }
</style>
