{% block aside %}{% endblock %}
<section class="search">
<input type="search" id="search-bar-input" placeholder="Searching..." />
</section>
<section>
    <h3 class="section-title">Series</h3>
    {% set series = get_taxonomy(kind="series") %}
    {% for item in series.items %}
    <p><a href="{{ item.permalink }}">{{ trans(key="series_" ~ item.name, lang=lang) }} ({{ item.pages | length }})</a></p>
    {% endfor %}
</section>

<section class="tags">
<h3 class="section-title">Tags</h3>
{% set tags = get_taxonomy(kind="tags") %}
<div class="tags">
    {% for item in tags.items | sort(attribute="pages") | reverse %}
    <a href="{{ item.permalink }}">{{ item.name }} ({{ item.pages | length }})</a>{% if not loop.last %},{% endif %}
    {% endfor %}
<div>
</section>

<section class="advertisement">
    <h3 class="section-title">Advertisement</h3>
    <ins class="adsbygoogle"
        style="display:inline-block;width:192px;height:144px"
        data-ad-client="ca-pub-1265138627025369"
        data-ad-slot="3727265125"></ins>
    <ins class="adsbygoogle"
        style="display:inline-block;width:192px;height:144px"
        data-ad-client="ca-pub-1265138627025369"
        data-ad-slot="3727265125"></ins>
    <ins class="adsbygoogle"
        style="display:inline-block;width:192px;height:144px"
        data-ad-client="ca-pub-1265138627025369"
        data-ad-slot="3727265125"></ins>
</section>