<footer class="footer">
  <div class="content">
    <div class="item">
    </div>
    <div class="item"></div>
    <div class="item profile">
      <img class="avatar" src="/images/avatar.png" />
      <ul class="links">
        {% for socialaccount in config.extra.socialaccount %}
        <li>
          <a href="{{ socialaccount.link }}" rel="me" target="_blank"
            ><i class="{{ socialaccount.icon }}"></i><span>{{ socialaccount.label }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {# {{ $rss_link := .Site.GetPage "{{ .Site.OutputFormats.RSS.baseName }}.xml" }} #}
  {# <a class="rss" href="{{ printf "%sfeed.xml" .Site.BaseURL }}" target="_blank" #}
    {# >{{ partial "fa-icon" "fas fa-rss"}} #}
    {# <span>RSS</span> #}
  {# </a> #}
  {% include "partials/plugins/webring.html" %}
  <a
    class="powered-by"
    href="https://github.com/EINDEX/qingzhuo"
    target="_blank"
    >Powered By QingZhuo
  </a>
  {% include "partials/plugins/icp-footer.html" %}
</footer>
