---
import i18next, { changeLanguage, t } from "i18next";
import Layout from "@layouts/Layout.astro";
import { getPosts } from "@utils/posts";
import PostCard from "@components/PostCard.astro";

changeLanguage("en");

const locale = i18next.language;
const posts = await getPosts(locale);
---

<Layout
  title={t("posts")}
  seo={{
    title: t("posts"),
    description: t("posts"),
    image: "https://eindex.me/images/avatar.png",
    url: "/posts",
  }}
>
  <h1>Posts</h1>
  <div class="posts">
    {posts.map((post) => <PostCard locale={locale} post={post} />)}
  </div>

  <p slot="sidebar"></p>
</Layout>

<style lang="scss">
  h1 {
    @apply text-4xl font-bold self-center;
  }

  .posts {
    @apply flex flex-col gap-4;
  }
</style>
