---
const props = Astro.props;
---

{
  props.href.startsWith(Astro.site.origin) || props.href.startsWith("/") ? (
    <a {...props}><slot /></a>
  ) : (
    <a class="u-mention-of" {...props}><slot /></a>
  )
}
