---
import Layout from "@layouts/Layout.astro";
import { tagSlug } from "@utils/slug";
import { getAllByTag, getAllTags } from "@utils/tags";
import _ from "lodash";
import Breadcrumb from "@components/Breadcrumb.astro";
import { useTranslations } from "@i18n/utils";
import FeedList from "@components/feed/FeedList.astro";

export const prerender = true;

export async function getStaticPaths() {
  const allTags = await getAllTags();
  return allTags
    .map((tag) => {
      return {
        params: { slug: tagSlug(tag), lang: "zh" },
        props: { tag },
      };
    })
    .concat(
      allTags.map((tag) => {
        return {
          params: { slug: tagSlug(tag), lang: "en" },
          props: { tag },
        };
      })
    );
}
const { lang, slug } = Astro.params;
const t = useTranslations(lang);
const { tag } = Astro.props;
const { posts, thoughts } = await getAllByTag(lang, slug);

const contents = posts.concat(thoughts).sort((a, b) => {
  return a.date - b.date;
});
---

<Layout title={tag}>
  <Breadcrumb
    breadcrumb={[
      {
        url: `/tags`,
        name: "tags",
      },
    ]}
  />
  <article>
    <h1>{t("common.tag")}{tag}</h1>
    <FeedList contents={contents} />
  </article>
</Layout>

<style lang="scss">
  article {
    @apply min-w-full w-full flex flex-col gap-2;

    h1 {
      @apply text-4xl font-bold self-center text-center my-8;
    }

    h2 {
      @apply text-2xl font-bold text-center my-4;
    }
  }
</style>
