---
import Layout from "@layouts/Layout.astro";
import _ from "lodash";
import Tags from "@components/Tags.astro";
import { getAllTags } from "@utils/tags";

import { getLangFromUrl, useTranslations } from "@i18n/utils";


export const prerender = true;

export function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: "zh" } }];
}

const { lang } = Astro.params;

const t = useTranslations(lang);
const allTags = await getAllTags(lang);
---

<Layout
  title="Tags"
  seo={{
    title: "Tags",
    description: "Tags",
    image: "https://eindex.me/images/avatar.png",
    url: "/tags",
  }}
>
  <h1>Tags</h1>
  <div class="tags">
    <Tags tags={allTags} />
  </div>
</Layout>

<style lang="scss">
  .thoughts {
    @apply w-full flex flex-col gap-4 px-4 divide-y divide-gray-200;

    .thoughts-in-day {
      @apply flex flex-col gap-4 pt-4;

      article {
        @apply flex flex-col gap-2  ml-4;

        p {
          a {
            @apply underline;
          }
        }
        a {
          @apply self-end no-underline;
        }
      }
    }
    a {
      @apply underline;
    }
  }
</style>
