---
import Layout from "@layouts/Layout.astro";
import { getPosts } from "@utils/posts";
import PostCard from "@components/PostCard.astro";

import { useTranslations } from "@i18n/utils";

export const prerender = true;

export function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: "zh" } }];
}

const { lang } = Astro.params;

const t = useTranslations(lang);
const posts = await getPosts(lang);

const url = Astro.url;
---

<Layout
  title={t("common.posts")}
  seo={{
    title: t("common.posts"),
    description: t("common.posts"),
    image: "https://eindex.me/images/new-avatar.jpeg",
    url: url.pathname,
  }}
>
  <h1 class="title">{t("common.posts")}</h1>
  <div class="posts">
    {posts.map((post) => <PostCard locale={lang} post={post} />)}
  </div>

  <p slot="sidebar"></p>
</Layout>

<style lang="scss">
  .title {
    @apply text-4xl font-bold text-center;
  }

  .posts {
    @apply flex flex-col gap-4 pt-4;
  }
</style>
