---
import WebRing from "@components/WebRing.astro";
---

<footer>
  <WebRing />
  <span>EINDEX @ {new Date().getFullYear()}</span>
</footer>

<style lang="scss">
  footer {
    @apply flex items-center flex-col text-sm text-gray-500/80 mt-8;
    padding: 1rem;
  }
</style>
