---
import Contact from "@components/Contact.astro";
import SearchBox from "@components/SearchBox.astro";
---

<div class="sidebar">
  <div class="profile p-author h-card">
    <img
      alt="EINDEX's avatar"
      loading="lazy"
      src={"/images/avatar.webp"}
      width={128}
      height={128}
    />
    <span class="name"
      ><a rel="author" class="p-author h-card" href="/">EINDEX</a></span
    >
    <Contact iconOnly={true} />
  </div>

  <SearchBox />

  <slot />
</div>

<style lang="scss">
  .sidebar {
    @apply flex flex-col gap-4 p-4 w-full justify-center items-center mt-4 sticky top-8;
  }

  .profile {
    @apply flex flex-col justify-between items-center gap-4;

    .name {
      @apply text-2xl font-bold;
    }
    img {
      @apply rounded-lg w-32 h-32;
    }
  }
</style>
