---
import Layout from "@layouts/Layout.astro";
import { getPosts } from "@utils/posts";
import { timeFormat } from "@utils/time";
import i18next, { changeLanguage, t } from "i18next";
import _ from "lodash";

changeLanguage("en");

const locale = i18next.language;
---

<Layout title={t("404")}>
  <h1>{t("404")}</h1>
</Layout>

<style lang="scss">
  h1 {
    @apply text-3xl font-bold text-center;
  }
</style>
