---
import i18next, { changeLanguage } from "i18next";
import Img from "@components/Img.astro";
import EmptyWapper from "@layouts/EmptyWapper.astro";
import Navbar from "@components/Navbar.astro";

changeLanguage("en");

const locale = i18next.language;
const resp = await fetch("https://img.eindex.me/pic/pic_list.json");
const images = await resp.json();
const links = [
    {
        name: "Home",
        url: "/",
    },
    {
        name: "\u4E2D\u6587\u535A\u5BA2",
        url: "/cn/posts",
    },
    {
        name: "Posts",
        url: "/posts",
    },
];
---

<EmptyWapper title="Gallery" locale={locale}>
  <Navbar links={links} />
  <main>
    <div class="gallery">
      {
        images.map((image) => (
          <img
            loading="lazy"
            height={`${image.width / (image.height / 300)}px`}
            width="300px"
            src={`https://img.eindex.me/pic/${image.thumbnail}`}
          />
        ))
      }
    </div>
  </main>
</EmptyWapper>

<style lang="scss">
  main {
    @apply flex flex-col gap-8 py-8 px-4;
  }
  .gallery {
    @apply lg:columns-5 columns-4 md:columns-3 sm:columns-2 self-center;

    img {
      @apply rounded-lg shadow-lg mb-4;
    }
  }
</style>
