---
import i18next, { changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";
import Img from "@components/Img.astro";

changeLanguage("en");

const resp = await fetch("https://img.eindex.me/pic/pic_list.json");
const images = await resp.json();
---

<Layout title="Welcome to Astro.">
  <div class="gallery">
    {
      images.map((image) => (
        <img
          height="200px"
          width={`${(image.height / 200) * image.width}`}
          src={`https://img.eindex.me/pic/${image.thumbnail}`}
        />
      ))
    }
  </div>
</Layout>

<style lang="scss">
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 0.5rem;
    padding-top: 2rem;
    justify-content: space-around;

    img {
      border-radius: 0.5rem;
      box-shadow: 1rem;
    }
  }
</style>
