---
import i18next, { changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";

changeLanguage("en");
---

<Layout title="Welcome to Astro.">
  <main>
    <p>Hello, welcome to my blog, I'm EINDEX.</p>

    <p>Also, I put my photograph in gallery.</p>

    <p>
      Welcome to connect me via those methods: <a
        rel="me"
        href="https://github.com/EINDEX">Github</a
      >, <a rel="me" href="https://twitter.com/@eindex_li">Twitter</a>,
      <a rel="me" href="https://mastodon.social/@eindex">Mastodon</a>
    </p>
  </main>
</Layout>
