{% extends "_default/base.html" %}

{% block head %}
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
{% endblock %}


{% block content %}
    <article>
        <section class="main">
            <h1 class="huge">{{section.title}}</h1>
            <div class="gallery" id="gallery">
                <h1 v-if="dataReady">Loading...</h1>
                <a v-for="(image, index) in images" @click="openFullView(index)" :href="hash_url(image.filename)"><img class="thumbnail" :src="full_url(image.thumbnail)" loading="lazy"/></a>
                
                <div class="photo-container" v-if="fullView === true">
                  <button class="exit-button" @click="exit_full_screen"><iconify-icon icon="ci:off-close"></iconify-icon></button>
                  <div class="photo">
                      <button @click="go_prev"><iconify-icon icon="carbon:previous-filled"></iconify-icon></button>
                      <img :src="fullViewSrc" loading="lazy">
                      <button @click="go_next"><iconify-icon icon="carbon:next-filled"></iconify-icon></button>
                  </div>
                  <div class="meta">
                    <div class="info">
                        <span><iconify-icon icon="ant-design:camera-twotone"></iconify-icon> <em>${fullViewImage.camera}$</em></span>
                        <span><iconify-icon icon="ri:camera-lens-line"></iconify-icon> <em>${fullViewImage.lens}$</em></span>
                        <div class="exif">
                            <span><iconify-icon icon="carbon:iso-filled"></iconify-icon> <em>${fullViewImage.iso}$</em></span>
                            <span><em>f${fullViewImage.f_number}$</em></span>
                            <span><em>${fullViewImage.focal_length_in_35}$</em>mm</span>
                            <span><em>${exposure_time_span(fullViewImage.exposure_time)}$</em></span>
                        </div>
                        <span><iconify-icon icon="fluent-mdl2:date-time"></iconify-icon> <em>${date_span(fullViewImage.create_at)}$</em> </span>
                    </div>
                    <div class="map-container">
                        <iframe
                            class=map
                            v-if="fullViewImage.gps_map_datum"
                            frameborder="0" style="border:0"
                            :src="google_map_url(fullViewImage)"
                            allowfullscreen>
                        </iframe>
                    </div>
                  </div>
                  
              </div>
              
              
            </div>
            
        </section>
    </article>

{% endblock %}

{% block script %}
<script>
  const { createApp } = Vue
  const app = createApp({
    data() {
      return {
        dataRedly: false,
        images: [],
        choosePicIndex: 0,
        fullView: false,
        fullViewSrc: "",
        fullViewStyle: "",
        thisPic: null,
        lang: "{{lang}}",
        beforeScrollY: 0
      }
    },
    methods: {
      full_url(url) {
        return 'https://img.eindex.me/pic/'+ url
      },
      hash_url(url) {
        return '#/' + url
      },
      openFullView(index){
        const full_url = this.full_url(this.images[index].filename)
        this.choosePicIndex = index
        this.fullViewImage = this.images[index]
        this.fullViewSrc = full_url
        this.fullView = true
        if (window.scrollY != 0)
          {this.beforeScrollY = window.scrollY}
        document.documentElement.style.overflow = 'hidden';
        window.scrollTo(0, 0);
      },
      google_map_url(image){
        return `https://www.google.com/maps/embed/v1/view?key=AIzaSyAVVYMtIYTHX6SoX1Co00KQwnuGaWjACh0&center=${image.gps_latitude},${image.gps_longitude}&zoom=17&maptype=satellite`
      },
      exposure_time_span(exposure_time){
        if (exposure_time < 1)
          return `1/${Math.round(1/exposure_time)}s`
        else 
        return `${Math.round(exposure_time*10)/10}s`
      },
      date_span(date) {
        if (this.lang == "cn")
        return new Date(date).toLocaleString("zh-CN")
        else 
        return new Date(date).toLocaleString("en-US")
      },
      exit_full_screen(){
        document.documentElement.style.overflow = 'auto';
        this.fullView = false;
        window.scrollTo(0, this.beforeScrollY)
      },
      go_next(){
        if(this.choosePicIndex >= this.images.length - 1) {
          return}
        this.openFullView(this.choosePicIndex+1)
      },
      go_prev(){
        if(this.choosePicIndex == 0) {
        return}
        this.openFullView(this.choosePicIndex-1)
      },
      loading_data(data) {
        this.images = data;
        this.dataRedly = true;
        const hash_url = window.location.hash.split('/').pop()
        let target = null
        const find_image = (image) => image.filename === hash_url
        if (hash_url) {
          target = this.images.findIndex(find_image)
        }
        if (target!=null) this.openFullView(target);
      }
    },
    compilerOptions: {
      delimiters: ["${", "}$"]
    }
  }).mount('#gallery')

  function putImages(data) {
    app.loading_data(data)
  }
</script>
<script src="https://img.eindex.me/pic/pic_list.js"></script>
{% endblock %}
