---

const resp = await fetch("https://img.eindex.me/pic/pic_list.json");
const images = await resp.json();
---

<div class="gallery">
  {
    images.map((image) => (
      <img
        class="image"
        loading="lazy"
        height={`${image.width / (image.height / 300)}px`}
        width="300px"
        src={`https://img.eindex.me/pic/${image.thumbnail}`}
      />
    ))
  }
</div>

<style lang="scss">
    .gallery {
      @apply columns-4 md:columns-3 sm:columns-2 self-center;
      // max-width: 1280px;
      min-width: calc(min(100vw, 1280px));
  
      .image {
        @apply rounded-lg shadow-lg mb-4;
      }
    }
  </style>
  