---
import { getLangFromUrl } from "@i18n/utils";
import { getAllProjects } from "@utils/posts";
import Project from "../Project.astro";

const url = Astro.url;
const lang = getLangFromUrl(url);
const projects = await getAllProjects(lang);
---

<div class="projects">
  {
    projects.map((project) => (
      <Project
        name={project.name}
        url={project.url}
        logo={project.logo}
        description=""
      />
    ))
  }
</div>

<style lang="scss">
  .projects {
    @apply grid grid-cols-3 justify-items-center items-center md:grid-cols-2 lg:grid-cols-3 gap-8 self-center;
    min-width: 1440px;
  }
</style>
