---
import i18next, { changeLanguage, t } from "i18next";
import EmptyWapper from "@layouts/EmptyWapper.astro";
import Navbar from "@components/layouts/Navbar.astro";
import { getLinkViaLocale } from "@utils/slug";

changeLanguage("cn");

const locale = i18next.language;
const resp = await fetch("https://img.eindex.me/pic/pic_list.json");
const images = await resp.json();
const links = [
    {
        name: "home",
        url: "/",
    },
    {
        name: "posts",
        url: "/posts",
    },
    {
        name: "thoughts",
        url: "/thoughts",
    },
];
---

<EmptyWapper
  title={t("gallery")}
  seo={{
    title: t("gallery"),
    description: "Gallery",
    keywords: t("gallery"),
    url: getLinkViaLocale(locale, "/gallery"),
    image: `https://img.eindex.me/pic/${images[0].thumbnail}`,
  }}
>
  <Navbar links={links} />
  <main>
    <h1>{t("gallery")}</h1>
    <div class="gallery">
      {
        images.map((image) => (
          <img
            loading="lazy"
            height={`${image.width / (image.height / 300)}px`}
            width="300px"
            src={`https://img.eindex.me/pic/${image.thumbnail}`}
          />
        ))
      }
    </div>
  </main>
</EmptyWapper>

<style lang="scss">
  main {
    @apply flex flex-col gap-8 py-8 px-4;

    h1 {
      @apply text-6xl self-center font-bold py-8;
    }
  }
  .gallery {
    @apply lg:columns-5 columns-4 md:columns-3 sm:columns-2 self-center;

    img {
      @apply rounded-lg shadow-lg mb-4;
    }
  }
</style>
