---
import { Image } from "astro:assets";
---

<div class="u-author h-card">
  <Image
    alt="EINDEX's avatar"
    class="u-photo"
    src="/images/new-avatar.jpeg"
    height={40}
    width={40}
  />
  <a class="u-url" href="/">EINDEX</a>
  <a class="u-url" href="acct:eindex@eindex.me"></a>
</div>

<style lang="scss">
  .u-author {
    @apply flex items-start gap-2 font-semibold;
    img {
      @apply shadow-lg rounded-full;
    }
  }
</style>
