---

---

<div class="u-author h-card">
  <img
    class="u-photo"
    src="/images/new-avatar.jpeg"
    height="32px"
    width="32px"
  />
  <a class="u-url" href="/">EINDEX</a>
  <a class="u-url" href="acct:eindex@eindex.me"></a>
</div>

<style lang="scss">
  .u-author {
    @apply flex items-center gap-2 font-semibold;
    img {
      @apply shadow-lg rounded-full;
    }
  }
</style>
