---
import i18next, { t } from "i18next";
import { getLinkViaLocale } from "@utils/slug";

const locale = i18next.language;

const { breadcrumb } = Astro.props;
---

<ol vocab="https://schema.org/" typeof="BreadcrumbList">
  {
    breadcrumb.map((item, position) => {
      return (
        <>
          <li property="itemListElement" typeof="ListItem">
            <a
              property="item"
              typeof="WebPage"
              href={getLinkViaLocale(locale, item.url)}
            >
              <span property="name">{t(item.name)}</span>
            </a>
            <meta property="position" content={position} />
          </li>
          {position < breadcrumb.length - 1 && "·"}
        </>
      );
    })
  }
</ol>
