---
// import Giscus from "@giscus/react";
import WMComments from "./webmentions/WMComments.astro";

import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { slug } = Astro.props;
---

<hr />
<div class="comments">
  <h2>Comments</h2>
  <WMComments slug={slug} />
  <!-- <Giscus
    client:load
    id="comments"
    repo="eindex/blog"
    repoId="R_kgDOGWb6Yg"
    category="General"
    categoryId="DIC_kwDOGWb6Ys4CAKn-"
    mapping="specific"
    term={slug}
    reactionsEnabled="1"
    emitMetadata="1"
    inputPosition="top"
    theme="preferred_color_scheme"
    lang={locale == "zh" ? "zh-CN" : locale}
    loading="lazy"
  /> -->
</div>

<style lang="scss">
  .comments {
    @apply flex flex-col mt-2;
  }
  h2 {
    @apply text-2xl;
  }
</style>
