---
// import Giscus from "@giscus/react";
// import WMComments from "./webmentions/WMComments.astro";

import { getLangFromUrl, useTranslations } from "@i18n/utils";

const url = Astro.url;
const lang = getLangFromUrl(url);

const { title, id } = Astro.props;

---

<hr />
<div class="comments">
  <!-- <h2>Comments</h2>
  <div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="529aa4d2-95b8-400a-88e5-a09f9aa150fe"
  data-page-id={id}
  data-page-url={url}
  data-page-title={title}
  data-theme="auto"
></div>
{ lang === "zh" && <script defer src="https://cusdis.com/js/widget/lang/zh-cn.js"></script>}
<script async defer src="https://cusdis.com/js/cusdis.es.js"></script> -->

</div>

<style lang="scss">
  hr {
    @apply my-8;
  }
  .comments {
    @apply flex flex-col dark:text-gray-200;
  }

  #cusdis_thread {
    @apply m-4
  }

  h2 {
    @apply text-2xl mb-12;
  }
</style>
