---
const { links = {}, styles = {} } = Astro.props;
---

<nav style={styles}>
  <span
    ><img width="32px" height="32px" src="/images/avatar.png" /><a href="/"
      ><b>EINDEX</b>'s Blog</a
    ></span
  >
  <ul>
    {
      links.map((link) => (
        <li>
          <a href={link.url}>{link.name}</a>
        </li>
      ))
    }
  </ul>
</nav>

<style lang="scss">
  nav {
    @apply px-4 pt-4;
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    // make in row center
    align-items: center;
    width: 100%;
    span {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;

      img {
        border-radius: 20%;
      }
      a {
        text-decoration: none;
        color: var(--text-color);
        font-size: 1.5rem;
      }
    }

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;

      @apply sm:hidden;

      li {
        margin: 0 10px;
        a {
          text-decoration: none;
          color: var(--text-color);
        }
      }
    }
  }
</style>
