---
import Tags from "@components/Tags.astro";
type project = {
  name: string;
  logo: string;
  url: string;
  labels: string[];
};

const { name, logo, url, labels } = Astro.props;
---

<div class="project">
  <a
    href={url}
    target="_blank"
    class={`umami--click--project-${name
      .toLowerCase()
      .trim()
      .replaceAll(" ", "-")}`}
  >
    <img src={logo} />
    <span class="name">{name}</span>
    <Tags tags={labels} />
  </a>
</div>

<style lang="scss">
  .project {
    @apply flex flex-col rounded-lg shadow-xl overflow-hidden w-52 gap-2 pb-4;
    background-color: var(--card-background-color);

    a {
      @apply text-center;
    }

    img {
      @apply w-52 h-52;
    }
    .name {
      @apply text-xl font-bold self-center;
    }
  }
</style>
