---
import { getLinkViaLocale } from "@utils/slug";
import { getLangFromUrl } from "@i18n/utils";
import { getEntry } from "astro:content";
import slugify from "slugify";

const lang = getLangFromUrl(Astro.url);

const { tags } = Astro.props;

const actualTags = [];

const realTags = (tags || []).map((tag) => tag.trim().replace(/^#/, ""));

for (const tag of realTags) {
  const tagEntry = await getEntry("tags", tag);
  if (tagEntry) {
    actualTags.push(tagEntry);
  } else {
    actualTags.push({
      slug: slugify(tag, { lower: true }),
      data: {
        en: tag,
        zh: tag,
      },
    });
  }
}
---

<div class="labels">
  {
    (actualTags || []).map((tag) => {
      return (
        <a
          class="tag p-category"
          href={getLinkViaLocale(lang, `/tags/${tag.slug}`)}
        >
          {tag.data[lang]}
        </a>
      );
    })
  }
</div>

<style lang="scss">
  .labels {
    @apply flex flex-row flex-wrap text-sm gap-2 justify-center;

    .tag {
      @apply rounded-sm px-2 bg-gray-300 dark:bg-gray-700 no-underline;
      background-color: var(--label-background-color);
    }
  }
</style>
