---
import { getLinkViaLocale } from "@utils/slug";
import { timeFormat } from "@utils/time";
import A from "@components/webmentions/A.astro";
import Author from "@components/Author.astro";

import { getLangFromUrl, useTranslations } from "@i18n/utils";
import CutContent from "./CutContent.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { thought, slug, showDate = true, slugPage = false } = Astro.props;
---

<article class="h-entry">
  <div class="thought-meta">
    <Author />
    <a class="u-url" href={getLinkViaLocale(lang, slug)}>
      <time class="dt-updated" datetime={thought.data.updated.toISOString()}
        >{showDate && timeFormat(thought.data.updated, lang)}</time
      >
      <time class="dt-published" datetime={thought.data.date.toISOString()}
      ></time></a
    >
  </div>
  <CutContent item={thought} readmoreLink={"xxx"} />
</article>

<style lang="scss">
  article {
    @apply flex flex-col max-w-full;
    h1 {
      @apply text-3xl font-bold text-center;
    }

    .thought-meta {
      @apply flex flex-row justify-between items-center gap-2;
      color: var(--text-color);

      time {
        @apply text-sm;
      }
    }
    section.main.e-content {
      @apply list-disc max-w-full ml-12 -mt-4;
      color: var(--text-color);
      background-color: var(--bg-color);
    }

    .labels {
      @apply flex flex-row flex-wrap text-sm gap-2 justify-center;

      .tag {
        @apply rounded-sm px-2 bg-gray-300 dark:bg-gray-700;
        background-color: var(--label-background-color);
      }
    }
  }
</style>
