---
import Layout from "@layouts/Layout.astro";
import { getPosts } from "@utils/posts";
import { timeFormat } from "@utils/time";
import _ from "lodash";

import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("common.404")}>
  <h1>{t("common.404")}</h1>
</Layout>

<style lang="scss">
  h1 {
    @apply text-3xl font-bold text-center;
  }
</style>
