---
import Layout from "@layouts/Layout.astro";
import { timeFormat } from "@utils/time";
import { getLinkViaLocale, getLastPartOfSlug } from "@utils/slug";
import Breadcrumb from "@components/Breadcrumb.astro";
import Thought from "@components/Thought.astro";
import { useTranslations } from "@i18n/utils";
import Author from "@components/Author.astro";
import Feed from "@components/feed/Feed.astro";
import { Image } from "astro:assets";
import { getPosts, getThoughts } from "@utils/posts";

export const prerender = true;

export async function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: "zh" } }];
}

const { lang } = Astro.params;
const t = useTranslations(lang);

const thoughts = await getThoughts(lang);
const posts = await getPosts(lang);
// console.log(thoughts, posts)
const contents = posts
  .concat(thoughts)
  .sort((a, b) => {
    return a.data.date - b.data.date;
  })
  .reverse();
---

<Layout title={"Feed"}>
  <article>
    <h1>{t("common.feed")}</h1>
    <Feed contents={contents} lang={lang} />
  </article>
</Layout>

<style lang="scss">
  article {
    @apply min-w-full w-full flex flex-col gap-2;

    h1 {
      @apply text-4xl font-bold self-center text-center my-8;
    }

    h2 {
      @apply text-2xl font-bold text-center my-4;
    }

  }
</style>
