---
import { useTranslations } from "@i18n/utils";
import Layout from "@layouts/Layout.astro";

export const prerender = true;

export function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: "zh" } }];
}

const { lang } = Astro.params;

const t = useTranslations(lang);

const resp = await fetch("https://img.eindex.me/pic/pic_list.json");
const images = await resp.json();
---

<Layout
  title={t("common.gallery")}
  seo={{
    title: t("common.gallery"),
    description: "My photo shot Gallery",
    keywords: t("common.gallery"),
    url: "/gallery",
    image: `https://img.eindex.me/pic/${images[0].thumbnail}`,
  }}
>
  <!-- <Navbar /> -->
  <main>
    <h1>{t("common.gallery")}</h1>
    <div class="gallery">
      {
        images.map((image) => (
          <img
            class="image"
            loading="lazy"
            height={`${image.width / (image.height / 300)}px`}
            width="300px"
            src={`https://img.eindex.me/pic/${image.thumbnail}`}
          />
        ))
      }
    </div>
  </main>
</Layout>

<style lang="scss">
  main {
    @apply flex flex-col gap-8 py-8 px-4;

    h1 {
      @apply text-6xl self-center font-bold py-8;
    }
  }
  .gallery {
    @apply columns-4 md:columns-3 sm:columns-2 self-center;
    // max-width: 1280px;
    min-width: calc(min(100vw, 1280px));

    .image {
      @apply rounded-lg shadow-lg mb-4;
    }
  }
</style>
