---
import EmptyWapper from "@layouts/EmptyWapper.astro";
import Navbar from "@components/layouts/Navbar.astro";

import {useTranslations } from "@i18n/utils";
import { getAllProjects } from "@utils/posts";
import Project from "@components/Project.astro";
import Layout from "@layouts/Layout.astro";

export const prerender = true;

export function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: "zh" } }];
}

const { lang } = Astro.params;

const t = useTranslations(lang);
const projects = await getAllProjects(lang);
---

<Layout
  title={t("common.projects")}
  seo={{
    title: t("common.projects"),
    description: "Gallery",
    keywords: t("common.projects"),
    url: "/projects",
    image: ``,
  }}
>
  <main>
    <h1>{t("common.projects")}</h1>
    <div class="projects">
        {
          projects.map((project) => (
            <Project
              name={project.name}
              url={project.url}
              logo={project.logo}
              description=""
            />
          ))
        }
      </div>
  </main>
</Layout>

<style lang="scss">
  main {
    @apply flex flex-col gap-8 py-8 px-4;

    h1 {
      @apply text-6xl self-center font-bold py-8;
    }
  }
  .projects {
    @apply grid grid-cols-3 justify-items-center md:grid-cols-2 lg:grid-cols-3 gap-8;
    min-width: 1440px;
  }
</style>
