{%- import "macros.html" as macro -%}

{% set_global current_lang = lang %}
{% set_global current_lang_suffix = "" %}
{% if current_lang == "cn" %}
  {% set_global another_lang_suffix = ""   %}
  {% set_global current_lang_suffix = ".cn"  %}
{% else %}
  {% set_global another_lang_suffix = ".cn"   %}
  {% set_global current_lang_suffix = ""  %}
{% endif %}

<!DOCTYPE html>
<html lang="en" charset="utf-8">
  <head>
    {% include "partials/head.html" %}
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="all">
      {% include "partials/header.html" %}
      <div class="content">
          <main>
              {% block content %}{% endblock %}
          </main>
          <aside>
              {% block aside %}{% endblock %}
          </aside>
      </div>
      {% include "partials/footer.html" %}
    </div>
  </body>
  {% include "partials/scripts.html" %}
  {% block script %}{% endblock %}
</html>