{%- import "macros.html" as macro -%}

{% set_global current_lang = lang %}
{% set_global current_lang_suffix = "" %}
{% if current_lang != config.default_language %}
  {% set_global current_lang_suffix = "." ~ current_lang  %}
{% endif %}

<!DOCTYPE html>
<html lang="en" charset="utf-8">
  {% include "partials/head.html" %}
  <body>
    {% include "partials/header.html" %}
    <div class="content">
        <main>
            {% block content %}{% endblock %}
        </main>
        <aside>
            {% block aside %}{% endblock %}
        </aside>
    </div>
    {% include "partials/footer.html" %}
  </body>
  {% include "partials/scripts.html" %}
</html>