{% extends "_default/base.html" %}

{% block content %}
<article class="h-entry" data-clarity-region="article">
    {% include "thoughts/supports/thought-header.html" %}
    {% include "partials/plugins/invisable-h-card.html" %}
    <section class="thought-contrainer">
        {% if page.extra.reply.title %}<span>Reply: <a href="{{page.extra.reply.url}}" class="u-in-reply-to">{{page.extra.reply.title}}</a></span>{%endif%}
        <div class="thought e-content p-summary">
            {{ macro::render_html(content=page.content) }}
            {% include "partials/plugins/posse.html" %}
        </div>
        <div class="bar"><span class="thought-date">at <time class="dt-published">{{ macro::date_format(datetime=page.date, lang=lang) }}</time></span></div>
    </section>
    {% include "partials/plugins/webmentions.html" %}
    {% include "partials/plugins/giscus.html" %}
    {{ macro::backlink(pages=page.backlinks) }}
</article>

{% endblock content %}