{% macro backlink(pages) %}
{% if pages and pages | length >0 %}
  <section class="backlinks">
    <h3>Backlinks</h3>
    {# <h3>{{ trans(key="label_backlinks",lang=lang) }} ({{ pages | length }})<a href="#backlinks" id="backlinks" class="zola-anchor">🔗</a> #}
    </h3>
    <ul class="">
      {% for page in pages %}
        <li>
          <a href="{{ page.permalink }}">{{ page.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
{% endmacro backlink %}


{% macro set_current_lang() %}
{% set_global current_lang = lang %}

{% endmacro %}