{% macro backlink(pages) %}
{% if pages and pages | length >0 %}
  <section class="backlinks">
    <h3>{{ trans(key="label_backlinks",lang=lang) }} ({{ pages | length }})</h3>
      {% for page in pages %}
      <p><a href="{{ page.permalink }}">{{ page.title }}</a></p>
      {% endfor %}
    </ul>
  </section>
{% endif %}
{% endmacro backlink %}


{% macro set_current_lang() %}
{% set_global current_lang = lang %}

{% endmacro %}

{% macro date_format(datetime, lang) %}
{% if lang == "cn"%}
  {{ datetime | date(format="%F") }}
{% else %}
  {{ datetime | date(format="%e %h, %Y") }}
{% endif %}
{% endmacro date_format %}

{% macro render_html(content) %}
  {{ content | replace(from='<a ', to='<a class="h-card" ') | safe }}
{% endmacro %}