{% extends "_default/base.html" %}

{% block content %}
  <article class="h-entry" data-clarity-region="article">
    {% include "posts/supports/post-header.html" %}
    {% include "partials/plugins/invisable-h-card.html" %}
    {% if page.description %}
    <section class="p-summary" style="display:none">
        {{ page.description }}
    </section>
    {% endif %}
    <section class="main e-content">
        {{ macro::render_html(content=page.content) }}
        {% include "partials/plugins/posse.html" %}
    </section>
    <section class="post-footer">
        {% include "partials/plugins/tag-list.html" %}
    </section>
    {{ macro::backlink(pages=page.backlinks) }}
    {% include "partials/plugins/webmentions.html" %}
    {% include "partials/plugins/giscus.html" %}
</article>
{% endblock content %}

{% block script %}
    {% include "partials/plugins/pv-counter.html" %}
{% endblock %}