{% extends "_default/base.html" %}

{% block content %}
  <article class="h-entry" data-clarity-region="article">
    {% include "posts/supports/post-header.html" %}
    {% include "partials/plugins/invisable-h-card.html" %}
    <section class="main e-content">
        {{ macro::render_html(content=page.content) }}
    </section>
    <section class="post-footer">
        {# {{- partial "prev-next-page.html" . -}} #}
        {% include "partials/plugins/tag-list.html" %}
    </section>
    {{ macro::backlink(pages=page.backlinks) }}
    {% include "partials/plugins/webmentions.html" %}
    {% include "partials/plugins/giscus.html" %}
</article>
{% endblock content %}