{% extends "_default/base.html" %}

{% block content %}
  <article data-clarity-region="article h-entry">
    {% include "posts/supports/post-header.html" %}
    <section class="main e-content">
        {{ macro::render_html(content=page.content) }}
    </section>
    <section class="post-footer">
        {# {{- partial "prev-next-page.html" . -}} #}
        {% include "partials/plugins/tag-list.html" %}
    </section>
    {% include "partials/plugins/giscus.html" %}
    {{ macro::backlink(pages=page.backlinks) }}
</article>

{% endblock content %}