---
import Navbar from "@components/Navbar.astro";
import Sidebar from "@components/Sidebar.astro";
import EmptyWapper from "./EmptyWapper.astro";

export interface Props {
  title: string;
  locale: string;
}
const links = [
  {
    name: "Home",
    url: "/",
  },
  {
    name: "\u4E2D\u6587\u535A\u5BA2",
    url: "/cn/posts",
  },
  {
    name: "Posts",
    url: "/posts",
  },
  {
    name: "Gallery",
    url: "/gallery",
  },
];
const { title, locale, seo={} } = Astro.props;
---

<EmptyWapper title={title} locale={locale} seo={seo}>
  <Navbar links={links} />
  <div class="wapper">
    <main>
      <slot />
    </main>
    <sidebar>
      <Sidebar>
        <slot name="sidebar" />
      </Sidebar>
    </sidebar>
  </div>
</EmptyWapper>

<style lang="scss">
  main {
    @apply flex flex-col h-full gap-4 max-w-3xl;

    code {
      font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
    a {
      color: var(--text-color);
    }
  }

  sidebar {
    @apply sm:hidden max-w-xs w-1/4;
  }
  .wapper {
    @apply flex flex-row gap-4 justify-center w-full mt-8 px-4 sm:px-2;
  }
</style>
