---
import Navbar from "@components/layouts/Navbar.astro";
import Sidebar from "@components/layouts/Sidebar.astro";
import EmptyWapper from "./EmptyWapper.astro";

export interface Props {
  title: string;
  seo?: any;
}
const { title, seo = {} } = Astro.props;
---

<EmptyWapper title={title} seo={seo}>
  <Navbar />
  <div class="wapper">
    <sidebar>
      <Sidebar>
        <slot name="sidebar" />
      </Sidebar>
    </sidebar>
    <main>
      <slot />
    </main>
  </div>
</EmptyWapper>

<style lang="scss">
  main {
    @apply flex flex-col h-full max-w-xl w-full;

    code {
      font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
    a {
      color: var(--text-color);
    }
  }

  sidebar {
    @apply sm:hidden md:hidden max-w-xs w-1/4 h-fit;
  }
  .wapper {
    @apply flex flex-row-reverse gap-4 justify-center w-full mt-8 px-4 sm:px-2 min-h-full;
  }
</style>
