---
import Navbar from "@components/Navbar.astro";
import EmptyWapper from "./EmptyWapper.astro";

export interface Props {
  title: string;
  locale: string;
}
const links = [
  {
    name: "Home",
    url: "/",
  },
  {
    name: "中文博客",
    url: "/cn/posts",
  },
  {
    name: "Posts",
    url: "/posts",
  },
  {
    name: "Gallery",
    url: "/gallery",
  },
];
const { title, locale } = Astro.props;
---

<EmptyWapper title={title} locale={locale}>
  <Navbar links={links} />
  <div class="wapper">
    <main>
      <slot />
    </main>
    <sidebar>
      <slot name="sidebar" />
    </sidebar>
  </div>
</EmptyWapper>

<style lang="scss">
  main {
    @apply flex flex-col h-full pt-8 gap-4 px-4 md:px-2 max-w-4xl w-2/3 md:w-full h-full;

    code {
      font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
    a {
      color: var(--text-color);
    }
  }

  sidebar {
    @apply md:hidden max-w-xs w-1/4;
  }
  .wapper {
    @apply flex flex-row gap-4 justify-center w-full;
  }
</style>
